@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    padding: 20px;
}

h1 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.bmi-container {
    /* background: linear-gradient(to right, #fdbb2d, #22c1c3); */
    background-color: #FFFDD0;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    min-height: 320px; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container{
     max-width: 700px;
    min-height: 320px

}


h2 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

form label {
    font-weight: 500;
    text-decoration: none;
}

input.form-control {
    text-align: center;
    font-size: 1rem;
}

button {
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    cursor: pointer;
}

p {
    font-size: 1.2rem;
}

/* Responsive */
@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
}
